/*color palette: http://paletton.com/#uid=53x0F0kVWDksASpLdURVUrUVnlv*/

/* -- LINKS -- */
a:link {
	color: #2DBD00;
}

a:visited {
	color: #2DBD00;
} 

a:hover {
	color: #2DBD00;
}

a:active {
	color: #2DBD00;
}

/* -- MAIN -- */

#header {
	text-align: center;
	color: #2DBD00;
}

#boop {
	margin: 20px 10%;
	text-align: justify;
	font-size: 17.5px;
}

#selfie {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	width: 200px;	
	border: 2px solid #4FF51A;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
}

#storiestable {
	padding: 5%;
	margin: 5%;
	width: 90%;
	text-align: center;
}

#storiestable td {
	padding-bottom: 5%;
	width: 50%;
}

#leftart {
	width: 300px;
	border: solid 3px #239100;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
}

#rightart {
	width: 300px;
	border: solid 3px #2DBD00;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
}

#slothtext {
	font-size: 17px;
	text-align: justify;
}

.footer {
	text-align: center;
}



