/*color palette: http://paletton.com/#uid=53x0F0kVWDksASpLdURVUrUVnlv*/

/* -- LINKS -- */
a:link {
	color: #2DBD00;
}

a:visited {
	color: #2DBD00;
} 

a:hover {
	text-decoration: none;
}

a:active {
	color: #2DBD00;
}

/* -- MAIN -- */
#header {
	text-align: center;
	color: #2DBD00;
}

/*==============================CHART=============================*/




